Source: libdres
Section: libs
Priority: optional
Maintainer: Krisztian Litkey <krisztian.litkey@nokia.com>
Standards-Version: 0.0.1
Build-Depends: cdbs, debhelper (>= 4.1.0)

Package: libdres
Architecture: any
Depends: ${shlibs:Depends}
Description: Dependency resolver library.
 Dependency resolver library.
 .
 Dependency resolver library.

