Source: libdres
Section: libs
Priority: optional
Maintainer: Krisztian Litkey <krisztian.litkey@nokia.com>
Standards-Version: 3.8.0
Build-Depends: cdbs, debhelper (>= 4.1.0), libprolog-dev, libglib2.0-dev, libdbus-glib-1-dev, libdbus-1-dev, ohm-dev, libtrace-dev, flex, libncurses5-dev

Package: libdres0
Architecture: any
Depends: ${shlibs:Depends}
Description: OHM dependency resolver library.
 Dependency resolver library for OHM.
 .
 Dependency resolver library for OHM.

Package: libdres-dev
Architecture: any
Depends: libdres0
Section: libdevel
Description: Development files for the OHM dependency resolver library.
 .
 This package contains header files, libraries, pkg-config files, etc.
 necessary for developing with the OHM dependency resolver library.

Package: ohm-plugin-resolver
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libdres0, swi-prolog, ohm, libprolog0
Description: OHM dependecy resolver plugin.
 A dependency resolver plugin for OHM.

Package: libdres-utils
Architecture: any
Depends: ${shlibs:Depends}, libdres0
Section: misc
Description: Miscallaneous OHM dependency resolver library utilities.
 .
 This package contains miscallaneous OHM dependency resolver utilities
 including dresc.

