#!/usr/bin/make -f
SHELL+= -e

GIT_VERSION := $(shell [ -x ./git-version.sh ] && \
                           ./git-version.sh || echo "unknown")

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_TAR_SRCDIR = ${DEB_SOURCE_PACKAGE}-${DEB_UPSTREAM_VERSION}

DEB_CONFIGURE_USER_FLAGS = --disable-static --enable-extra-warnings
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Omit *.la files but warn about other missing things.
binary-post-install/%::
	rm -f debian/*/usr/lib/*.la
common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd $(DEB_BUILDDIR) && ./autogen.sh
	touch $@

debian/control::
	@sed -e 's/__GIT_ID__/$(GIT_VERSION)/g' debian/control.in > $@

clean::
	-rm -rf debian/stamp-autogen

# do not include docs and changelogs in these packages
DEB_INSTALL_DOCS_libdres0 := --no-act
DEB_INSTALL_CHANGELOGS_libdres0 := --no-act
DEB_INSTALL_DOCS_libdres-dev := --no-act
DEB_INSTALL_CHANGELOGS_libdres-dev := --no-act
DEB_INSTALL_DOCS_ohm-plugin-resolver := --no-act
DEB_INSTALL_CHANGELOGS_ohm-plugin-resolver := --no-act
DEB_INSTALL_DOCS_libdres-utils := --no-act
DEB_INSTALL_CHANGELOGS_libdres-utils := --no-act

